@import "./mixins";
@import "./variables";

* {
  font-family: CustomFont;
  box-sizing: border-box;
}

@font-face {
  font-family: CustomFont;
  src: url("../../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
  src: url("../../assets/fonts/plusjakartasans-variablefont_wght-webfont.woff")
    format("woff");
  src: url("../../assets/fonts/plusjakartasans-variablefont_wght-webfont.woff2")
    format("woff2");
}

.page-container {
  margin: 80px;
  border-radius: 12px;
  max-width: 735px;
  padding: 0px 20px;
  padding-bottom: 9px;
  @include autoMargin();
  @include flexCenter();
  -webkit-box-shadow: 0px 0px 87px -36px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 87px -36px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 87px -36px rgba(0, 0, 0, 0.75);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.notification-heading {
  display: flex;
  @include autoMargin();
  max-width: 800px;
  justify-content: space-between;
}

.badge {
  font-size: 22px;
  padding: 5px 15px;
  align-self: center;
  color: aliceblue;
  background-color: rgb(40, 40, 165);
  border-radius: 6px;
  font-weight: bold;
}

.num-of-notifications {
  display: inline-flex;
}

.heading {
  font-size: 30px;
  font-weight: bolder;
  padding: 0 20px;
  align-self: center;
}

.mark-as-read {
  display: inline-flex;
  line-height: 100%;
  padding: 27px 23px;
  color: $text-color;
  align-self: center;
}

.mark-as-read:hover {
  cursor: pointer;
}

.notifications-container {
  @include autoMargin();
  @include flexCenter();
  // border: 3px solid black;
}

.the-notification {
  position: relative;
  display: flex;
  max-width: 675px;
  margin: 8px 0px;
  border-radius: 10px;
  @include autoMargin();
  align-items: flex-start;
  justify-content: left;
  padding: 18px 18px;
}

.all-text-container {
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
  padding: 0px 15px;
}

.not-read {
  background-color: #d2eafc69;
  // .all-text-container::before {
  //   content: "";
  //   display: inline;
  //   order: 1;
  //   width: 10px;
  //   height: 10px;
  //   border-radius: 50%;
  //   background-color: #ff4944;
  //   margin-right: -20px;
  //   margin-bottom: -15px;
  //   align-self: flex-end;
  // }
}

.notification-text-span {
  // display: flex;
  // flex-wrap: wrap;
  gap: 4px;
}

.unread-badge {
  display: inline-flex;
  order: 2;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff4944;
  margin-left: 4px;
}

.read-badge {
  display: none;
}

.read:hover,
.not-read:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.user-img-container {
  align-self: flex-start;
}

.user-image {
  align-self: flex-start;
  max-width: 45px;
}

.user {
  color: $username-color;
  font-weight: bold;
}

.notification-text {
  color: $text-color;
}

.notification-link {
  color: $post-link-color;
  font-weight: bold;
}

.chess-club-link {
  color: $group-color;
  font-weight: bold;
}

.notification-time {
  display: block;
  order: -1;
  padding: 5px 0px;
  color: $text-color;
}

.user-message {
  display: block;
  padding: 5px 0px;
  border: 1px solid rgba(59, 59, 59, 0.377);
  order: -2;
  border-radius: 4px;
  max-width: 550px;
  color: $text-color;
}

.post-image {
  position: absolute;
  right: 10px;
  max-width: 50px;
  align-self: right;
}
